import { applyDecorators } from '@nestjs/common';
import { ApiBadRequestResponse, ApiBody, ApiOkResponse } from '@nestjs/swagger';

export function ApiCreate<%= classify(name) %>() {
  return applyDecorators(
    ApiBody({ type: 'object' }),
    ApiOkResponse(),
    ApiBadRequestResponse(),
  );
}
