import { applyDecorators } from '@nestjs/common';
import { ApiOkResponse } from '@nestjs/swagger';

export function ApiFindAll<%= classify(name) %>() {
  return applyDecorators(
    ApiOkResponse({
      description: 'List of <%= classify(name) %>',
    }),
  );
}
